nav{
    top:0;
 width: 100%;
 background-color: #424558;
position: fixed;
font-family: verdana, calibri, sans serif;
z-index: 1000
}

nav > ul{
 margin: 0px;
 padding: 0px;
}

nav li{
  list-style-type: none;
}

nav > ul > li{
    float: left;
    position: relative;
}

nav > ul::after{
 content: "";
 display: block;
 clear: both;
}

.submenu{
 display: none;
}

nav a{
 display: inline-block;
 text-decoration: none;
}

nav > ul > li > a{
 padding: 20px 30px;
 color: #fff;
}

nav > ul > li:hover a{
 padding: 15px 30px 20px 30px;
}

nav li:hover .submenu{
 display: inline-block;
 position: absolute;
 top: 100%;
 left: 0px;
 padding: 0px;
 z-index: 1000;
 }
 
 .submenu li a{
  padding: 15px 30px;
  font-size: 13px;
  color: #222528;
  width: 270px;
 }
 
 .submenu li{
  border-bottom : 1px solid #ccc;
 }
 
 .menu-culture:hover{
  border-top: 5px solid #ff0000;
  background-color: rgba(255,0,0,0.15);
 }
 
 .menu-art:hover{
  border-top: 5px solid #ffd700;
  background-color: rgba(255,215,0,0.15);
 }
 
 .menu-cuisine:hover{
  border-top: 5px solid #ff8500;
  background-color: rgba(255,133,0,0.15);
 }
 
 .menu-sport:hover{
  border-top: 5px solid #7cfc00;
  background-color: rgba(124,252,0,0.15);
 }
 
 .menu-jeuxvideo :hover{
  border-top: 5px solid #9370db;
  background-color: rgba(147,112,219,0.15);
 }
 
 .menu-panorama :hover{
  border-top: 5px solid #00bfff;
  background-color: rgba(0,191,255,0.15);
 }
  .menu-liens :hover{
  border-top: 5px solid #c0c0c0;
  background-color: rgba(192,192,192,0.15);
 }
 
  .menu-culture .submenu{
  background-color: rgb(255 ,0 ,0);
  }
  
.menu-art .submenu{
  background-color: rgb(255,215,0);
  }
  
 .menu-cuisine .submenu{
  background-color: rgb(255,133,0);
  }
  
  .menu-sport .submenu{
  background-color: rgb(124 ,252 ,0);
  }
  
  .menu-jeuxvideo .submenu{
  background-color: rgb(147,112,219);
  }
  
  .menu-panorama .submenu{
  background-color: rgb(0,191,255);
  }
  .menu-liens .submenu{
  background-color: rgb(192,192,192);
  }

   .submenu li:hover a{
   color: #eee;
   font-weight: bold;
  }
  
    .menu-culture .submenu li:hover{
   background-color: rgb(255,30,30);
  }
  
    .menu-art .submenu li:hover{
   background-color: rgb(255,230,15);
  }
  
    .menu-cuisine .submenu li:hover{
   background-color: rgb(255,148,15);
  }
    .menu-sport .submenu li:hover{
   background-color: rgb(136,255,12);
  }
  
    .menu-jeuxvideo .submenu li:hover{
   background-color: rgb(157,122,235);
  }
  
    .menu-panorama .submenu li:hover{
   background-color: rgb(15,205,255);
  }
   .menu-liens .submenu li:hover{
   background-color: rgb(200,200,200);
  }

  .container {
    margin: 0 auto;
    width: 100%;
    height: 40vh;
    position: relative;
    top: 5vh;
    perspective: 20000px;
}
  
.carousel {
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 2s;
}
  
.item {
    position: absolute;
    width: 40vw;
    height:calc(40vw*3/4);/*pour image 4/3 pour image 16/9 *9/16*/
    left:30vw;
    border: 1px solid grey;
    overflow: hidden;
    -webkit-box-shadow: 0px 93px 128px -45px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 93px 128px -45px rgba(0,0,0,0.75);
    box-shadow: 0px 93px 128px -45px rgba(0,0,0,0.75);
  
}

.item img {
    width: 100%;
    border-radius:5px;
    
}

  #it1 {
    transform: rotateY(45deg) translateZ(48.5vw);
  }
  #it2 {
    transform: rotateY(90deg) translateZ(48.5vw);
  }
  #it3 {
    transform: rotateY(135deg) translateZ(48.5vw);
  }
  #it4 {
    transform: rotateY(180deg) translateZ(48.5vw);
  }
  #it5 {
    transform: rotateY(225deg) translateZ(48.5vw);
  } 
  #it6 {
    transform: rotateY(270deg) translateZ(48.5vw);
  }
  #it7 {
    transform: rotateY(315deg) translateZ(48.5vw);
  }
  #it8 {
    transform: rotateY(360deg) translateZ(48.5vw);
  }
  
  .next, .prev {
    position: absolute;
    top: 42vh;
    cursor: pointer;
  }

  .next {
    border: 30px solid transparent;
    border-left: 30px solid white;
  }

  .prev {
    border: 30px solid transparent;
    border-right: 30px solid white;
  }

  .next { right: 0em;
        
}
  .prev { left: 0em;
        
}

  #cadre{
     margin-top:15%;
    width:60%;
    height:82vh;
    margin-left:20%;
    display:flex;
    flex-wrap: wrap;
    align-content:flex-start;
    z-index:899;
  }
  .card{
      width: 49%;
      height:20vh;
      display:flex;
    flex-direction: wrap;
    align-content:flex-start;
    border:1px solid grey;
    -webkit-box-shadow: 0px 93px 128px -45px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 93px 128px -45px rgba(0,0,0,0.75);
    box-shadow: 0px 93px 128px -45px rgba(0,0,0,0.75);
    overflow:hidden;

  }
  .card img{
      float:left;
      width:50%;
  }

  .card.text{
    margin-left:50%;
    border:1px solid grey;
    display:flex;
    flex-direction:column;

  }

  .card h2{
    width:100%;
    margin-top:1px;
    text-align:center;
  }
  .card p{
    margin-top:10px;
    width:100%;
    margin-top:25px;
  }
#rec_container{
  position : fixed;
  display: none;
  background : lightgrey;
  width:100%;
  height: 100vh;
  margin-left:10%;
  top: 25vh;
}

#recette {
  background-color: red;
  position : absolute;
  width: 100%;
  height: 50vh;
}

#recette .description table,tr,th,td{
margin-left:40%;
border:1px solid black;
}

#recette img{
  float:right;
width : 30%;
border-radius:50%;
border:1px solid red;
}

#recette .description{
  width:70%;
  border-bottom:1px double red;
  text-align:center;
}

#recette .contenu{
  display:flex;
  flex-direction: row;
}

#recette .ul{
  width:35%;
  list-style-type: none;
}

#recette .ol{
  width:64%; 
  margin-left:20%;
}
#gestion {
  width: 80%;
  margin: auto;
  margin-top: 100px;
  background-color:grey;
}

#formAjout .field {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

#formAjout .row {
  display: flex;
}

#formAjout .row .field {
  width: 25%;
  margin-right: 2em;
}

#formAjout .row .field:last-child {
  flex-direction: row;
}

#formAjout input[type=text], #formAjout select, #formAjout input[type=number] {
  height: 40px;
  width: 100%;
}

#formAjout input[type=submit] {
  height: 40px;
  width: 100%;
  font-size: 1em;
  border-radius: 5px;
 
  border: none;
} 